@using Microsoft.AspNetCore.Localization;
@{
    ViewData["Title"] = "Product List";
}
@inject IViewLocalizer Localizer
@{
    var reqCulture = Context.Features.Get<IRequestCultureFeature>();
    var Culture = reqCulture.RequestCulture.Culture.Name;
    var isArabic = Culture == "ar-EG";
}
<div class="container-fluid p-1">
    <div id="culture" data-culture="@isArabic"></div>
        <div class="mb-2">
        <div class="row ">
            <div class="col-6">
                <h2 class="text-primary">@Localizer["Products"]</h2>
            </div>
            <div class="col-6 text-start">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    <i class="fa-solid fa-plus me-1"></i> @Localizer["Create"]  
                </a>
            </div>
            </div>
        </div>
  
         <div class="p-3 border border-2 border-primary">
            <table id="mydata" class=" text-center pt-2 w-100">
                <thead>
                    <tr>
                        <th>
                        @Localizer["Name"]
                        </th>
                        <th class="text-center">
                        @Localizer["Price"]
                        </th>
                        <th class="text-center">
                        @Localizer["Category"]
                        </th>
                        <th class="text-center">
                        @Localizer["Brand"]
                        </th>
                        <th class="text-center">
                        @Localizer["Date"]
                        </th>
                        <th class="text-center">
                        @Localizer["Actions"]
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
         </div>
    </div>

@section Scripts{
    <script src="~/js/product.js"> </script>
}
