@using Microsoft.AspNetCore.Localization;
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

@inject IHttpContextAccessor HttpContextAccessor
@inject IViewLocalizer Localizer
@{
    var reqCulture = Context.Features.Get<IRequestCultureFeature>();
    var Culture = reqCulture.RequestCulture.Culture.Name;
    var isArabic = Culture == "ar-EG";
}
<div class="container p-1">
    <div class="row pt-1">
        <div class="col-6">
            <h2 class="text-primary justify-content-center">@Localizer["Categories"]</h2>
        </div>
        <div class="col-6 ">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="fa-solid fa-plus me-1"></i>  @Localizer["Create"] 
            </a>
        </div>
        <table class="table table-bordered table-striped mt-1 w-100">
            <thead>
                <tr>
                    <th>
                        @Localizer["Name"]
                    </th>
                    <th class="text-center">
                        @Localizer["Date"]

                    </th>
                    <th class="text-center">
                        @Localizer["Actions"]

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>
                           @(isArabic?product.arabicName:product.Name)
                        </td>
                        <td width="30%" class="text-center">
                            @product.CreatedDate
                        </td>
                        <td width="10%">
                            <div class="d-flex justify-content-around">
                                <a class="btn btn-warning mx-2 d-flex align-items-center gap-2" asp-action="Update"
                                   asp-route-id="@product.Id"><i class="fa-solid fa-pen-to-square me-1"></i>@Localizer["Update"]</a>
                                <a class="btn btn-danger mx-2 d-flex align-items-center gap-2" asp-action="Delete"
                                   asp-route-id="@product.Id"><i class="fa-solid fa-trash-can me-4"></i>@Localizer["Delete"]</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

