@using HandMadeStore.Models.Models;
@model CartItem
@{
    ViewData["Title"] = "Details";
}
<form method="post">
    <input asp-for="ProductId" hidden />
    <div class=" pb-2">
        <div class="card h-100 px-1">
            <div class="card-header bg-dark text-light row">
                <div class="col-12 col-md-6">
                    <h2 class="text-white">@Model.Product.Name</h2>
                </div>
                <div class="col-12 col-md-6 text-end">
                    <h2 class="text-warning"> By : @Model.Product.Brand.Name</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <span style="font-size:20px;" class="badge bg-dark">@Model.Product.Category.Name</span>
                    <div class="row">
                        <div style="overflow:hidden" class="col-12 col-lg-7 text-center">
                            <img src="@Model.Product.ImageUrl" class="img-view" />
                        </div>
                        <div class="col-12 col-lg-5 d-flex  align-items-center">
                            <div class="row">
                                <div class="row text-center pl-2">
                                    <div class="p-1 col-3 bg-secondary border-bottom">
                                        <div class="text-start">Quantity</div>
                                    </div>
                                    <div class="p-1 col-3 bg-secondary border-bottom">
                                        <div>1-10</div>
                                    </div>
                                    <div class="p-1 col-3 bg-secondary border-bottom">
                                        <div>11-30</div>
                                    </div>
                                    <div class="p-1 col-3 bg-secondary border-bottom">
                                        <div>30+</div>
                                    </div>
                                </div>
                                <div class="row text-center pl-2" style="color:maroon; font-weight:bold">
                                    <div class="p-1 col-3 bg-secondary">
                                        <div class="text-start">Price</div>
                                    </div>
                                    <div class="p-1 col-3 bg-secondary">
                                        <div>@Model.Product.Price</div>
                                    </div>
                                    <div class="p-1 col-3 bg-secondary">
                                        <div>@Model.Product.Price10Plus</div>
                                    </div>
                                    <div class="p-1 col-3 bg-secondary">
                                        <div>@Model.Product.Price30Plus</div>
                                    </div>
                                </div>
                                <div class="row ps-0 px-0">
                                    <div class="col-2 pt-2 ">
                                        <label asp-for="Product.Description" class="control-label"> </label>
                                    </div>
                                    <div class="col-10 pt-2">
                                        <p class="text-dark">@Html.Raw(Model.Product.Description) </p>
                                    </div>
                                    <div>
                                        <div class="row ">
                                            <div class="col-2 pt-1">
                                                <label asp-for="Count" class="control-label"> </label>
                                            </div>
                                            <div class="col-10">
                                                <input type="number" min="1" asp-for="Count" class="form-control p-1" />
                                                <span asp-validation-for="Count" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary form-control p-1 my-2">Add to Cart</button>
                                        <a asp-action="Index" class="btn btn-dark form-control  p-1">Back to List</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .img-view {
        transition: all .6s ease-in-out;
    }

        .img-view:hover {
            transform: scale(1.47);
        }

</style>
