@using Microsoft.AspNetCore.Localization;
@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}
@{
    var reqCulture = Context.Features.Get<IRequestCultureFeature>();
    var Culture = reqCulture.RequestCulture.Culture.Name;
    var isArabic = Culture == "ar-EG";
}

<div class="row" style="margin-top:-7px;">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom">
            <div class="row p-1">
                <div class="col-12 p-1" style="border:2px solid #593196; border-radius: 5px;">
                    <div class="card border-0 ">
                        <img loading="lazy" src="@product.ImageUrl" class="card-img-top" />
                        <div class="card-body text-center">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark">@(!isArabic?product.Category.Name:product.Category.arabicName)</p>
                              @if(!isArabic){
                                    <p class="card-title h5 text-primary">@(product.Name.Count() > 25 ? product.Name.Substring(0, 25) : product.Name)</p>
                              }
                              else
                              {
                                    <p class="card-title h5 text-primary">@(product.arabicName.Count() > 25 ? product.Name.Substring(0, 25) : product.arabicName)</p>
                              }
                            </div>
                            <div class="pl-1">
                                @if(!isArabic){
                                    
                                    <h5 class="card-title text-mute">Price: <b>@product.Price EGP</b></h5>
                                }
                                else
                                {
                                    <h5 class="card-title text-mute">السعر: <b>@product.Price جم</b></h5>

                                }
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">
                            @(isArabic ? "التفاصيل" : "Details")
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>